{{- if .Values.configmap.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "nitro.fullname" . }}
  labels:
    {{- include "nitro.labels" . | nindent 4 }}
data:
  config.json: |
    {{- .Values.configmap.data | toPrettyJson | nindent 4 }}
{{- end }}
