{{- if .Values.configmap.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "relay.fullname" . }}
  labels:
    {{- include "relay.labels" . | nindent 4 }}
data:
  config.json: |
    {{- .Values.configmap.data | toPrettyJson | nindent 4 }}
{{- end }}
